<div class="admin-bar">admin</div>
<nav class="uk-navbar uk-margin-large-bottom">
  <ul class="uk-navbar-nav">
    <li><%= link_to 'Products', admin_products_path %></li>
    <li><%= link_to 'New', new_admin_product_path %></li>
  </ul>
</nav>
