<%= render partial: 'nav' %>
<div class="uk-vertical-align uk-text-center">
  <div class="uk-vertical-align-middle">
    <table>
      <th>Model</th>
      <th>Price</th>
      <% @results.each do |result| %>
        <tr>
          <td><%= result['model'] %></td>
          <td><%= result['price'] %> <%= result['price_currency']%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
